services:
  ldap:
    image: osixia/openldap:latest
    container_name: ldap
    environment:
      - LDAP_ORGANISATION=MediaSchool
      - LDAP_DOMAIN=mediaschool.lan
      - LDAP_ADMIN_PASSWORD=admin
      - LDAP_CONFIG_PASSWORD=admin
    volumes:
      - ./ldap_data:/var/lib/ldap
      - ./ldap_config:/etc/ldap/slapd.d
    ports:
      - "389:389"
      - "636:636"
    restart: always

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=ldap
      - PHPLDAPADMIN_HTTPS=false
    ports:
      - "8091:80"
    depends_on:
      - ldap
    restart: always

